<!--
  Generated template for the Category page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
			</button>
    <ion-title>{{ 'Category' | translate }}</ion-title>
   
  </ion-navbar>
</ion-header>
<ion-content class="commonbg">
   <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let category of categories" (click)="openListings(category.id)">
      <ion-thumbnail item-left *ngIf="category.image!=''"  [ngClass]="{first_child: category.sort==1,second_child: category.sort==2}">
        <img src="{{category.image.src}}">
      </ion-thumbnail>
      <span [ngClass]="{first_child: category.sort==1&&category.image=='',second_child: category.sort==2&&category.image==''}">{{category.name}}</span>
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
