page-cart ion-content {
  background: #e4e9ee !important;
}

page-cart .div-cart-item{
  margin-bottom: 10px;
}

page-cart .card,
.cart .card {
  background: #FFFFFF;
}

page-cart .div-product {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px
}

page-cart .card:first-child {
  margin-top: 0px;
}

page-cart .card .card-header,
page-cart .card .card-footer,
.cart .card .card-header,
.cart .card .card-footer {
  background: #FBFBFB;
}

page-cart .placehold {
  height: 100px;
}

page-cart .card .card-footer div,
.cart .card .card-footer div {
  margin: 5px 0;
}

page-cart .trash-btn {
  font-size: 2.5rem !important;
}

page-cart .cart-footer {
  background: #FBFBFB;
  border-top: 1px solid #EBEBEC;
}

page-cart .cart-footer ion-title {
  position: absolute;
  padding-left: 16px;
  left: 0;
  font-weight: normal;
}

page-cart .cart-footer ion-title .toolbar-title {
  text-align: left;
  padding-left: 0;
}

page-cart .btn-add-cart,
.btn-add-cart.activated {
  background: #FEE3E1;
  color: #DC4437;
}

page-cart .input-qty {
  display: inline-block;
  border-top: 1px solid #EBEBEC;
  border-bottom: 1px solid #EBEBEC;
}

page-cart .input-qty .btn {
  border-left: 1px solid #EBEBEC;
  border-right: 1px solid #EBEBEC;
  padding: 6px 12px;
  float: left;
}

page-cart .input-qty input {
  padding: 6px;
  float: left;
  border: none;
  text-align: center;
  max-width: 64px;
}

page-cart .item-md ion-thumbnail img {
  width: 8rem;
  height: 8rem;
}

page-cart .item-wp ion-thumbnail img {
  width: 8rem;
  height: 8rem;
}

page-cart .item-ios ion-thumbnail img {
  width: 5.6rem;
  height: 5.6rem;
}

page-cart .empty {
  text-align: center;
  padding: 50px;
}

page-cart .pull-left {
  float: left;
}

page-cart .pull-right {
  float: right;
}

page-cart ion-list.list-full-border .item,
page-cart ion-list.list-full-border .item:first-child,
page-cart ion-list.list-full-border .item:last-child {
  border-bottom: 1px solid #EBEBEC;
}

page-cart .text-lg {
  font-size: 1.2em;
}

page-cart .text-sm {
  font-size: 0.8em;
}

.clear {
  clear: both;
}

.item.no-border .item-inner {
  border: none;
}
