page-profile ion-content {
  background: #f8f8f8;
}

page-profile ion-header:after {
  background-image: none !important;
}

page-profile .user-info-header {
  height: 20vh;
  background: #fd5459;
  border-radius: 0 0 100% 100%;
  color: white;
}

page-profile .avatar{
  width: 10vh;
  height: 10vh;
  border: 2px white solid;
  border-radius: 50%;
}


page-profile .settings {
  width: 95%;
  display: block;
  margin: 4rem auto;
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 0.5rem;
}

page-profile .settings ion-list[inset] {
  margin: 0;
}

page-profile .settings ion-list[inset] .item {
  border-bottom: 1px solid #f3f3f3;
  padding: 6px 0px 0px 14px;
}

page-profile .settings ion-icon[item-left] {
  color: #ff5c61;
  font-size: 3rem;
}

page-profile .settings h2 {
  color: #333947;
  
  font-size: 1.5rem;
}

page-profile .settings h4[item-right] {
  color: #ff5c61;
  padding-right: 1rem;
}

page-profile .settings ion-icon[item-right] {
  color: #8d969d;
  font-size: 2rem;
  margin-right: 0;
  margin-top: 1.3rem;
}
