page-contact a ion-icon {
  width: 70px;
  margin: 0 auto 10px;
  height: 70px;
  border-radius: 50%;
  background: #33cd5f;
  line-height: 85px;
}

page-contact a ion-icon::before {
  font-size: 50px;
}

page-contact .logo-img {
  width: 160px;
  height: 160px;
}
