<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
			</button>
    <ion-title>
      {{ 'Shop' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="goToSearch(products)">
        <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class='page-home'>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Desliza para recargar" refreshingSpinner="circles" refreshingText="Recargando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-slides pager autoplay="3000" loop *ngIf="showSlide">
    <ion-slide *ngFor="let item of slides">
      <img src={{item}}>
    </ion-slide>

  </ion-slides>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let product of products">
        <div class="card round" (click)="viewProduct(product)">
          <div class="badge" *ngIf="product.on_sale">
            <span class="sale">{{ 'OnSale' | translate }}</span>
          </div>
          <div class="img" [ngStyle]="{'background-image': 'url('+product.images[0].src+')'}">
          </div>
          <div class="padding-xs" text-center>
            <div class="title">{{ product.name}}</div>
            <div [innerHTML]="product.price_html"></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
