page-listings ion-grid ion-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

page-listings ion-grid ion-row ion-col .card {
  overflow: hidden;
  font-size: 0.9em;
}

page-listings ion-grid ion-row ion-col .card img {
 width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
    position: relative;
}

page-listings ion-grid ion-row ion-col .card .title{
    display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.padding-xs {
  padding: 10px;
}

.card.round {
  overflow: hidden;
}

.round {
    border-radius: 5px;
}

.card {
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

page-listings .badge {
    position: relative;
    z-index: 3;
    
}
page-listings .badge > span {
    position: absolute;
    top: 5px !important;
    right: 5px !important;
    display: block;
    background: #ccc;
    color: white;
    padding: 0 3px 0 10px;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 22px;
    height: 20px !important;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 5px;
    text-align: center;
}
page-listings .badge > span:before {
    border-right-color: #cccccc;
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-color: transparent #ccc transparent transparent;
    border-style: solid;
    border-width: 10px 10px 10px 0;
}
page-listings .badge > span:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0px;
    float: left;
    width: 7px;
    height: 7px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #fff;
}
page-listings .badge > span.sale:before {
    border-right-color: orange;
    border-color: transparent orange transparent transparent;
}
page-listings .badge > span.sale{
    background: orange;
}
page-listings .badge > span.sale:after{
    background: white;
}

page-listings .badge > span.sold:before {
    border-right-color:mediumseagreen;
    border-color: transparent mediumseagreen transparent transparent;
}
page-listings .badge > span.sold{
    background: mediumseagreen;
}
page-listings .badge > span.sold:after{
    background: white;
}