<!--
  Generated template for the Search page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearchChange()" placeholder="Busca una revista">
    </ion-searchbar>
<!--     <ion-searchbar [(ngModel)]="myInput" placeholder="Busca una revista">
    </ion-searchbar> -->
    <ion-buttons end>
      <button ion-button color="white" (click)="onSearch()">{{ 'Search' | translate }}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="noResult" class="empty">
    <h3>{{ 'No_Results' | translate }}</h3>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let product of products2">
        <div class="card round" (click)="viewProduct(product)">
          <div class="badge" *ngIf="product.on_sale">
            <span class="sale">OnSale</span>
          </div>
          <div class="img" [ngStyle]="{'background-image': 'url('+product.images[0].src+')'}">
          </div>
          <div class="padding-xs" text-center>
            <div class="title">{{ product.name}}</div>
            <span class="pull-right" [innerHTML]="appConfig.Shop_Currency_format+product.price"></span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
