page-product-details .top {
  width: 100%;
  display: block;
  position: fixed;
}

page-product-details ion-slides {
  position: relative;
  height: 250px;
  width: 100%;
}

page-product-details ion-slides {
  background: white;
}

page-product-details ion-slides img {
  height: 250px !important;
  width: 100%;
}

 .addcart-info {
  font-size: 80px !important;
  margin-bottom: 5px;
  color: red;
  text-align: center;
}

page-product-details .dark-chip{
  background-color: #222;
  color: white;
}
page-product-details .primary-chip{
  background-color: #fd5459;
  color: white;
}

page-product-details .info .icon.ok :before {
  color: orange;
}

page-product-details .info .icon.err :before {
  color: red;
}

page-product-details .top-img {
  height: 250px !important;
  width: 100%;
}

page-product-details .item-header {
  background-color: #f64c57;
  color: white;
}

page-product-details .item-content {
  padding-top: 10px;
}

page-product-details .pull-right {
  float: right;
}

page-product-details .desc {
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 5px 5px 5px 8px;
  border: none !important;
}


page-product-details ion-chip {
  text-align: center;
}

page-product-details .chip-button ion-chip{
  width: 100%;
 
}

page-product-details .chip-button ion-chip.chip-enable {
  background-color: #fd5459;
  color: white;
}

page-product-details .text-on-bottom {
  flex-direction: column;
  position: relative;
  overflow: visible!important;
}

page-product-details .text-on-bottom ion-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 3px 8px 3px 6px;
}

page-product-details .text-on-bottom ion-icon {
  font-size: 30px;
}

page-product-details .text-on-bottom>.button-inner {
  flex-direction: column;
}
