<!--
  Generated template for the OrderDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'OrderDetails' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="commonbg">
  <ion-list *ngIf="order">
    <ion-item-group>
      <ion-item-divider color="light">{{ 'ORDER_SUMMARY' | translate }}</ion-item-divider>
      <ion-item>
        {{ 'Status' | translate }}
        <span item-right>{{order.status}}</span>
      </ion-item>
      <ion-item>
        {{ 'Payment_Method' | translate }}
        <span item-right>{{order.payment_method_title}}</span>
      </ion-item>
      <ion-item>
        {{ 'Shipping_Method' | translate }}
        <span item-right>{{order.shipping_lines[0].method_title}}</span>
      </ion-item>
      <ion-item>
        {{ 'Shipping' | translate }}
        <span item-right>{{order.shipping_lines[0].total}}</span>
      </ion-item>
      <ion-item>
        {{ 'Total' | translate }}
        <span item-right>{{order.total}}</span>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">{{ 'LINE_ITEMS' | translate }}</ion-item-divider>
      <ion-list>
        <ion-item *ngFor="let item of order.line_items">
          <ion-row>{{item.name}}</ion-row>
          <ion-row>
            <span *ngFor="let meta of item.meta">
              {{meta.label}}:{{meta.value}}&nbsp;
            </span>
          </ion-row>
          <ion-row>
            <ion-col>{{ 'Quantity' | translate }}:{{item.quantity}}</ion-col>
            <ion-col> {{ 'Total' | translate }}:{{item.total}}</ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">{{ 'Shipping_Address' | translate }}</ion-item-divider>
      <ion-item>
        {{ 'First_Name' | translate }}
        <span item-right>{{order.shipping.first_name}}</span>
      </ion-item>
      <ion-item>
        {{ 'Last_Name' | translate }}
        <span item-right>{{order.shipping.last_name}}</span>
      </ion-item>
      <ion-item>
        {{ 'Country' | translate }}
        <span item-right>{{order.shipping.country}}</span>
      </ion-item>
      <ion-item>
        {{ 'Address1' | translate }}
        <span item-right>{{order.shipping.address_1}}</span>
      </ion-item>
      <ion-item>
        {{ 'Address2' | translate }}
        <span item-right>{{order.shipping.address_2}}</span>
      </ion-item>
      <ion-item>
        {{ 'Town_City' | translate }}
        <span item-right>{{order.shipping.city}}</span>
      </ion-item>
      <ion-item>
        {{ 'State' | translate }}
        <span item-right>{{order.shipping.state}}</span>
      </ion-item>
      <ion-item>
        {{ 'Zip_Code' | translate }}
        <span item-right>{{order.shipping.postcode}}</span>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>